<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="/css/cadastro.css"> <!-- Link para o CSS -->
</head>
<body>
    <div id="form-container">
        <h1>Cadastro</h1>
        <form id="cadastro-form">
            <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Cadastrar</button>
        </form>
        <div id="result"></div>
    </div>
    <script src="/script/cadastro.js"></script> <!-- Link para o script -->
</body>
</html>
